.text-reveal-wrapper {
	position: relative;
}

.text-reveal-wrapper hr {
	border: 1px solid var(--text-reveal-primary-color);
	margin: 0;
}

.text-reveal-wrapper .diamonds {
	align-items: center;
	background-color: var(--off-white);
	display: flex;
	padding: 0 var(--medium-space);
	position: absolute;
	transform: translate(-50%, -50%);
}

.text-reveal-wrapper .diamonds:nth-child(2) {
	left: 50%;
	top: 0;
}

.text-reveal-wrapper .diamonds:nth-child(4) {
	left: 50%;
	top: 100%;
}

.text-reveal-wrapper .diamond {
	background-color: var(--text-reveal-secondary-color);
	transform: rotate(45deg);
}

.text-reveal-wrapper .diamond:first-child,
.text-reveal-wrapper .diamond:last-child {
	height: var(--small-space);
	width: var(--small-space);
}

.text-reveal-wrapper .diamond:nth-child(2) {
	height: var(--large-space);
	margin: 0 var(--small-space);
	width: var(--large-space);
}

.text-reveal {
	color: var(--text-reveal-primary-color);
	font-family: var(--primary-font);
	font-size: var(--large-header-font-size);
	text-align: center;
}

/* media query for laptops */

@media screen and (max-width: 1366px) {
	.text-reveal {
		font-size: var(--medium-header-font-size);
	}
}

/* -------------------------------- */

/* media query for tablets */

@media screen and (max-width: 1112px) {
	.text-reveal {
		font-size: var(--small-header-font-size);
	}
}

/* -------------------------------- */

/* media query for phones */

@media screen and (max-width: 767px) {
	.text-reveal-wrapper .diamond:first-child,
	.text-reveal-wrapper .diamond:last-child {
		height: var(--xs-space);
		width: var(--xs-space);
	}

	.text-reveal-wrapper .diamond:nth-child(2) {
		height: var(--medium-space);
		width: var(--medium-space);
	}

	.text-reveal {
		font-size: var(--xs-header-font-size);
	}
}

/* -------------------------------- */